<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects of Dongyu Jin</title>
</head>
<article>
    <header>
        <h1>Home Page</h1>
        <p>Made for Math 266 Project 1</p>
    </header>
</article>
<body>
    <div><h1>Welcome to my Project Page</h1></div>
    <p>This is just a website for where I can show off my project and code. Feel free to vist and look. </p>
</body>
<footer>
    <p>Author: Dongyu Jin</p>
    <p><a href="jindongyu120203@gmail.com">jindongyu120203/a></p>
</footer>
</html>