<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/main.css') }}">
    <title>RC Circut Calculator</title>
</head>
<article>
    <header>
        <h1>RC Circut Calcualtor and Graphing</h1>
        <p>Made for Math 266 Project 1</p>
    </header>
</article>
<nav>
    <ul>
        <li><a href="/.">Home</a></li>
        <li><a href="./">RC Circuit Calcualtor</a></li>
        <li><a href="about./">About</a></li>
      </ul> 
</nav>
<body>
    <p>Overview of projects</p>
</body>

<figure>
    
</figure>
<footer>
    <p>Author: Dongyu Jin</p>
</footer>
</html>