<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/rccalc.css') }}">
    <title>RC Circuit Calculator</title>
</head>
<article>
    <header>
        <h1>RC Circuit Calculator and Graphing</h1>
        <p>Made for Math 266 Project 1</p>
    </header>
</article>
<nav>
    <ul>
        <li><a href="/.">Home</a></li>
        <li><a href="./">RC Circuit Calculator</a></li>
        <li><a href="about./">About</a></li>
      </ul> 
</nav>

<body>
    <p>This was a page made for an RC Circuit Calculator and Grapher that will give you solutions in both a table form and a Graph. </p>

    <div class="flex-container">
        <div>
            <h3>Enter Values Here for the Graph</h3>
            <form action="{{ url_for('rc.rccalc') }}" method="post"> 
                <label for="IVolt"> Initial Voltage</label><br>
                <input type="number" id="IVolt" name="IVolt" value="0" step="0.1" min="0.1" max="100"><br>
                <label for="ResVal"> Resistor Value </label><br>
                <input type="number" id="ResVal" name="ResVal" value="0"step="0.1" min="0.1" max="100"><br>
                <label for="CapVal"> Capacitor Value, scale is in MilliFarads.</label><br>
                <input type="number" id="CapVal" name="CapVal" value="0" step="0.01" min="0.01" max="100"><br>
                <label for="Maxtime"> Enter maximum time for function, scale is in Centiseconds </label><br>
                <input type="number" id="Maxtime" name="Maxtime" value="0" step= "10" min="10" max="1000"><br>
                <label for="Steptime"> Enter time step for Euler's method, scale is in Centiseconds </label><br>
                <input type="number" id="Steptime" name="Steptime" value="0" step="0.01" min="0.01" max="100" ><br>
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <div>
            <canvas id = ”RCchart” width=”900” height = “900”></canvas>
        </div>
        <script>
            var RCGchart = document.getElementById("RCchart").getContext("2d");
            var lineChart = new Chart(RCGchart, {
                type: "line",
                data:{
                    labels : {{ label | safe}},
                    datasets: [
                        {
                            label: "Real Voltage",
                            borderColor: "red",
                            fill : false,
                            data: {{ voltage | safe }},
                            lineTension: 0.1
                            },{
                            label: "Estimated Voltage",
                            borderColor: "green",
                            fill : false,
                            data: {{ Eulersvoltage | safe }},
                            lineTension: 0.1
                        }
                    ]
                },
                options: {
                    resposive : false,
                    title: {
                        display: true,
                        text: graph
                        },
                        hover: {
                            mode: 'index',
                            intersect: true
                        }
                }
            });
        </script>
        <div>
            <table>
                <caption><h2>Table for General Solution Graph </h2></caption>
            <thead>
                <tr>
                    <th>Time in Centiseconds</th>
                    <th>Voltage</th>
                </tr>
            </thead>
            <tbody>

            {% for row in SolCord%}
                <tr>
            {% for element in row%}
                <td>
                {{ element}}
                </td>
            {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        <div>
            <table>
                <caption><h2>Table for Eulers Table Graph </h2></caption>
            <thead>
                <tr>
                    <th>Number of Iterations</th>
                    <th>Time in Centiseconds</th>
                    <th>Estimated Voltage</th>
                    <th>dV/dT</th>
                    <th>DeltaY</th>
                </tr>
            </thead>
            <tbody>

            {% for row in EulersCord%}
                <tr>
            {% for element in row%}
                <td>
                {{ element}}
                </td>
            {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</body>
</html>