<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RC Circut Calculator</title>
</head>
<article>
    <header>
        <h1>RC Circut Calcualtor and graphing</h1>
        <p>Made for Math 266 Project 1</p>
    </header>
</article>
<body>
    <h1>Calc</h1>
</body>

<aside>
    <p>The Epcot center is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</aside>

<figure>
    
</figure>
<footer>
    <p>Author: Dongyu Jin</p>
    <p><a href="jindongyu120203@gmail.com">jindongyu120203/a></p>
</footer>
</html>